<%- include("includes/head.ejs") %> 
<div class="container" style="display: flex; justify-content:center;padding: 20px;align-items: center;">
    <img src="./users.svg" alt="users" style="margin: 10px;">
    <a href="/users" class="btn btn-primary" style="margin: 10px;">To Add User</a>
    <a href="/users/view" class="btn btn-warning" style="margin: 10px;">To view Users</a>
</div>
<%- include("includes/tail.ejs") %> 
